body {
  background-color: aliceblue;
}

.title {
  text-align: center;
}

.event {
  background-color: aquamarine;
  text-align: center;
  border: 2px solid rgb(5, 245, 141);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(89, 89, 89, 0.2);
  padding: 15px;
  margin: auto;
  max-width: 620px;
}

.card {
  margin: 15px;
}
/* hidden info text */
.info-text {
  display: none;
}
.show-text .info-text {
  background-color: aliceblue;
  text-align: center;
  border: 2px solid rgb(5, 245, 141);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(89, 89, 89, 0.2);
  padding: 15px;
  margin: auto;
  max-width: 620px;
  display: block;
}
